$color-brand: #de0000;

// Color palette
$color-white: #fff;
$color-black: #000;

$color-red: $color-brand;
$color-blue:#1e4ca5;
$color-green:#02773e;
$color-yellow: #fff800;
$color-cream: #eadec9

// Text

// Links
// $color-link: $color-brand;

// Buttons
// $color-btn: $color-brand;
